kaldi_io==0.9.4
tqdm==4.62.3
matplotlib==3.5.1
numpy==1.23.0
torch==1.13.1
librosa==0.9.1
pandas==1.4.5
pysptk==0.1.18
phonet==0.3.7
scipy==1.10.0
scikit_learn==1.0.2
numba
fastapi==0.74.0
disvoice==0.1.0
fleep==1.0.1
shutil==1.0.1
moviepy==1.0.3
flask==2.0.2
werkzeug==2.0.2
fileinput==1.0.1
opensmile==3.0.2
crepe==0.1.2
torchvision==0.11.1
seaborn==0.11.2
